body {
  background-color: #fff !important;
}

/*** HEADER ***/

/* body */
.gb_Td, .gb_Xd {
  background-color: #e0e0e0 !important;
}

/* logo */
.gb_Zb {
  display: none !important;
}

/* search */
.gb_Bd.gb_Ld .gb_yd .gb_ie {
  margin-left: -20px !important;
}

/* left nav */
.gb_ec {
  background-color: #f9f9f9 !important;
}

.notranslate {
  font-family: 'Roboto', Arial, sans-serif !important;
}

/*** BODY ***/

/* note cards */
.r4nke-YPqjbf {
  padding: 10px !important;
  border: 1px solid rgba(0,0,0,.1) !important;
}

.h1U9Be-YPqjbf {
  background-color: white !important;
}

.IZ65Hb-yePe5c {
  background-color: white !important;
}

.rymPhb.IZ65Hb-WsjYwc-nUpftc .gkA7Yd-sKfxWe {
  background-color: white !important;
}
